body {
    font-size: 1.125rem;
}
section {
    max-width: 120ch;
    margin-bottom: 2rem;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 120ch;
}
th, td {
    padding: 1rem;
    text-align: left;
}
h2 {
    border-bottom: 1px solid black;
}
p, li {
    max-width: 80ch;
    margin-bottom: 1rem;
}

table.tests-table > thead > tr,
table.tests-table > tbody > tr:not(:last-child) {
    border-bottom: 1px solid black;
}